.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1680px;
  @include mediaQueries(900px) {
    padding: 0 40px;
  }
  @include mediaQueries($sm) {
    padding: 0 20px;
  }
}
