body {
  overflow: visible;
  font-family: "Inter", sans-serif;
  background-color: $body__bg-color;
  &.hidden {
    overflow: hidden;
  }
}

html,
body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
