// Media queries breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Variables

// HEX COLOR
$crust: #d19952;
$olive: #1d1d1d;
$tomato: #d84b2a;
$cheese: #f7c946;
$peperoni: #a2371d;
$header__bg-color: #fff;
$body__bg-color: #f9f9f9;
$input__border-color: #000000;
$loader__shadow-color: #000000;
$header-cart__bg-color: #ff7010;
$header-top__border-color: #f0f0f0;
$categories__heading-color: #E23535;
$heading-top__heading-color: #191919;
$heading-cart__heading-color: #a5a5a5;

// RGB COLOR
$loader__color: rgb(255, 113, 113);
$drop-down__bg-color: rgba(25, 25, 25, 0.1);
