// Media queries breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Variables

// HEX COLOR
$header__bg-color: #fff;
$body__bg-color: #F9F9F9;
$input__border-color: #000000;
$header-cart__bg-color: #FF7010;
$header-top__border-color: #F0F0F0;
$heading-top__heading-color: #191919;

// RGB COLOR
