// Media queries breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Variables

// HEX COLOR
$header__bg-color: #fff;
$body__bg-color: #f9f9f9;
$input__border-color: #000000;
$header-cart__bg-color: #ff7010;
$header-top__border-color: #f0f0f0;
$heading-top__heading-color: #191919;
$heading-cart__heading-color: #A5A5A5;

// RGB COLOR
$drop-down__bg-color: rgba(25, 25, 25, 0.1);
