.loader {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  @include flexLayout(flex, center, center, 0, row nowrap);
}

p {
  margin-top: 2vh;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: $loader__color;
  text-transform: capitalize;
  text-shadow: 1px 1px $loader__shadow-color;
}

.box {
  width: 200px;
  margin: auto;
  height: 200px;
  display: block;
  margin-top: 15%;
  position: relative;
  border-radius: 50%;
}

.pizza-slice {
  width: 65%;
  height: 50%;
  position: absolute;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  transform: rotate(0deg);
  -moz-border-radius: 50%;
  animation-duration: 0.7s;
  -o-transform: rotate(0deg);
  -webkit-border-radius: 50%;
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  animation-direction: alternate;
  -webkit-transform: rotate(0deg);
  animation-iteration-count: infinite;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.slice-1 {
  top: 5%;
  left: 15%;
}

.slice-2 {
  top: 18%;
  left: 33%;
  opacity: 0;
  z-index: 2;
  animation-name: slice;
  transform: rotate(72deg);
  -o-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -webkit-transform: rotate(72deg);
}

.slice-3 {
  top: 39%;
  left: 27%;
  opacity: 0;
  animation-name: slice-2;
  transform: rotate(144deg);
  -o-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
}

.slice-4 {
  top: 38%;
  left: 5%;
  opacity: 0;
  animation-name: slice-3;
  transform: rotate(216deg);
  -o-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -webkit-transform: rotate(216deg);
}

.slice-5 {
  top: 17%;
  left: -3%;
  opacity: 0;
  animation-name: slice-4;
  transform: rotate(288deg);
  -o-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -webkit-transform: rotate(288deg);
}

.crust {
  top: 6%;
  left: 10%;
  width: 80%;
  height: 80%;
  position: absolute;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: $crust;
  -webkit-border-radius: 50%;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.cheese {
  top: 20%;
  width: 65%;
  left: 17.5%;
  height: 65%;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  background-color: $cheese;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.peperoni {
  width: 25%;
  height: 30%;
  position: absolute;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: $peperoni;
}

.p-1 {
  top: 10%;
  left: 35%;
}
.p-2 {
  top: 38%;
  right: 16%;
}

.p-3 {
  left: 26%;
  bottom: 10%;
}
.olive {
  width: 8%;
  height: 10%;
  position: absolute;
  border-radius: 50%;
  background-color: $olive;
}
.o-1 {
  top: 10%;
  left: 24%;
  transform: scale(0.6);
}

.o-2 {
  top: 26%;
  left: 22%;
  transform: scale(0.7);
}

.o-3 {
  top: 42%;
  left: 32%;
  transform: scale(0.5);
}

.o-4 {
  top: 55%;
  left: 50%;
  border-radius: 50%;
}

.o-5 {
  right: 40%;
  bottom: 15%;
  transform: scale(0.75);
}

.o-6 {
  top: 15%;
  right: 28%;
  transform: scale(0.9);
}

.o-7 {
  top: 25%;
  right: 18%;
  transform: scale(0.5);
}

@keyframes slice {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slice-2 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slice-3 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slice-4 {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media all and (max-width: 200px) {
  .box {
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 1em;
  }
}
