.header-top {
  z-index: 2;
  position: relative;
  @include flexLayout(flex, space-between, center, 0, row nowrap);
  &__list {
    width: 100%;
    @include flexLayout(flex, space-between, center, 40px, row nowrap);
  }
  &__item {
    padding: 10px 0;
    @include flexLayout(flex, center, center, 10px, row nowrap);
    &--hover {
      cursor: pointer;
      &:hover .header-top__item-down {
        transform: rotate(180deg);
        color: $header-cart__bg-color;
      }
      &:hover .header-top__item-heading {
        color: $header-cart__bg-color;
      }
      &:hover .header-open {
        top: 45px;
        opacity: 1;
        visibility: visible;
        transition: all 150ms linear;
      }
    }
    &-heading {
      transition: color 150ms linear;
      @include headingFonts(
        $heading-top__heading-color,
        14px,
        400,
        18px,
        default
      );
      @include mediaQueries($sm) {
        font-size: 12px;
      }
    }
    &-down {
      width: 12px;
      height: 12px;
      transition: color 150ms linear, transform 150ms linear;
    }
    &-account {
      width: 20px;
      height: 20px;
      @include mediaQueries($sm) {
        width: 15px;
        height: 15px;
      }
    }
  }
}
