.header-top {
  @include flexLayout(flex, space-between, center, 0, row nowrap);
  &__list {
    @include flexLayout(flex, flex-start, center, 40px, row nowrap);
  }
  &__item {
    &--hover {
      cursor: pointer;
      &:hover .header-top__item-down {
        transform: rotate(180deg);
        color: $header-cart__bg-color;
      }
      &:hover .header-top__item-heading {
        color: $header-cart__bg-color;
      }
    }
    @include flexLayout(flex, center, center, 10px, row nowrap);
    &-location {
      width: 20px;
      height: 20px;
    }
    &-heading {
      transition: color 150ms linear;
      @include headingFonts(
        $heading-top__heading-color,
        14px,
        400,
        18px,
        default
      );
    }
    &-down {
      width: 12px;
      height: 12px;
      transition: color 150ms linear, transform 150ms linear;
    }
    &-account {
      width: 20px;
      height: 20px;
    }
  }
}
