@import "header-top";
@import "header-list";

.header {
  top: 0;
  z-index: 1000;
  position: sticky;
  background-color: $header__bg-color;
  &-open {
    top: 90px;
    opacity: 0;
    right: -40px;
    width: 285px;
    cursor: default;
    min-height: 200px;
    visibility: hidden;
    position: absolute;
    border-radius: 12px;
    transition: all 150ms linear;
    background-color: $header__bg-color;
    border: 1px solid $header-top__border-color;
    box-shadow: 0px 2px 8px 0px $drop-down__bg-color;
    &::after {
      left: 65%;
      top: -15px;
      content: "";
      position: absolute;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 16px solid $header__bg-color;
      -webkit-filter: drop-shadow(0px 2px 8px $drop-down__bg-color);
      filter: drop-shadow(0px 2px 8px $drop-down__bg-color);
    }
    &__item {
      padding: 20px 20px;
      &-btn {
        letter-spacing: 0.8px;
        transition: opacity 150ms linear;
        @include headingFonts(
          $heading-cart__heading-color,
          16px,
          400,
          22px,
          default
        );
        @include Button(transparent, none, 0, 0, default);
        &:hover {
          opacity: 0.8;
        }
      }
      cursor: pointer;
      &:first-child {
        padding-bottom: 16px;
        color: $header-cart__bg-color;
        border-bottom: 1px solid $header-top__border-color;
        @include headingFonts($header-cart__bg-color, 16px, 600, 20px, default);
      }
      &:last-child {
        padding-top: 16px;
        border-top: 1px solid $header-top__border-color;
      }
      &:nth-child(2) {
        padding: 16px 20px 0 20px;
      }

      &-heading {
        &--regular {
          &:hover .header-open__item-heading {
            color: $header-cart__bg-color;
          }
          transition: color 150ms linear;
          @include headingFonts(
            $heading-top__heading-color,
            16px,
            400,
            20px,
            default
          );
          &:hover {
            color: $header-cart__bg-color;
          }
        }
      }
    }
  }
  &-list {
    @include flexLayout(flex, space-between, center, 0, row nowrap);
  }
  &__border-bottom {
    border-bottom: 1px solid $header-top__border-color;
  }
  &-drop-down {
    top: 80px;
    opacity: 0;
    left: -100%;
    width: 285px;
    padding: 20px;
    min-height: 300px;
    position: absolute;
    visibility: hidden;
    border-radius: 12px;
    transition: all 150ms linear;
    background-color: $header__bg-color;
    border: 1px solid $header-top__border-color;
    box-shadow: 0px 2px 8px 0px $drop-down__bg-color;
    @include flexLayout(flex, flex-start, flex-start, 16px, column nowrap);
    
    &::after {
      left: 42%;
      top: -15px;
      content: "";
      position: absolute;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 16px solid $header__bg-color;
      -webkit-filter: drop-shadow(0px 2px 8px $drop-down__bg-color);
      filter: drop-shadow(0px 2px 8px $drop-down__bg-color);
    }
    &__block {

      &:hover &-title {
        color: $header-cart__bg-color;
      }
      &-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: color 150ms linear;
        @include headingFonts(
          $heading-top__heading-color,
          16px,
          400,
          22px,
          default
        );
      }
    }
  }
}
