.cart-modal {
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  position: fixed;
  backdrop-filter: blur(16px);
  transition: left 200ms linear;
  background-color: rgba(25, 25, 25, 0.4);
  &--open {
    left: 0;
    transition: left 200ms linear;
  }
  .cart-item {
    padding: 16px;
    margin: 20px 0;
    border-radius: 12px;
    background-color: $header__bg-color;
    border: 1px solid $header-top__border-color;
    @include flexLayout(flex, flex-start, center, 16px, row nowrap);
    &__footer {
      @include flexLayout(flex, space-between, center, 135px, row nowrap);
      &-soum {
        @include headingFonts($header-cart__bg-color, 16px, 600, 20px, default);
      }
    }
    &__box {
      &-img {
        width: 94px;
        height: 94px;
        object-fit: contain;
      }
      &-title {
        @include headingFonts(
          $heading-top__heading-color,
          16px,
          600,
          20px,
          default
        );
      }
      &-size {
        margin: 8px 0 12px 0;
        @include headingFonts(
          $heading-top__heading-color,
          14px,
          400,
          18px,
          default
        );
      }
    }
    &__counter {
      padding: 8px;
      max-width: 92px;
      border-radius: 6px;
      @include flexLayout(flex, space-between, center, 10px, row nowrap);
      background-color: $counter__bg-color;
      &-count {
        @include headingFonts($header-cart__bg-color, 16px, 600, 20px, default);
      }
      &-icon {
        width: 8px;
        height: 8px;
        cursor: pointer;
      }
    }
  }

  &__border {
    padding: 32px 20px 15px 20px;
  }
  &__header {
    @include flexLayout(flex, space-between, center, 0, row nowrap);
  }
  &__background {
    left: 68.9%;
    overflow: auto;
    max-width: 420px;
    min-height: 700px;
    position: relative;
    background-color: $header__bg-color;
  }
  &__box {
    &-heading {
      @include headingFonts(
        $heading-top__heading-color,
        32px,
        600,
        40px,
        default
      );
    }
    &-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
  &__footer {
    bottom: 0;
    position: absolute;
    padding: 22px 20px;
    border-top: 1px solid $header-top__border-color;
    @include flexLayout(flex, space-between, center, 0px, row nowrap);
    &-btn {
      margin-left: 70px;
      @include headingFonts($header__bg-color, 16px, 400, 22px, default);
      @include Button(
        $header-cart__bg-color,
        1px solid $header-cart__bg-color,
        6px,
        12px 24px,
        all 150ms linear
      );
    }
    &-heading {
      @include headingFonts($header-cart__bg-color, 20px, 600, 28px, default);
    }
  }
}
