.cart-modal {
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100000;
  position: fixed;
  backdrop-filter: blur(16px);
  transition: left 200ms linear;
  background-color: rgba(25, 25, 25, 0.4);
  @include flexLayout(flex, flex-end, flex-start, 0, row nowrap);
  &-empty {
    text-align: center;
    &__background {
      width: 100px;
      height: 100px;
      margin: 20px auto;
      border-radius: 50%;
      background-color: $header-cart__bg-color;
      @include flexLayout(flex, center, center, 0, row nowrap);

      &-icon {
        font-size: 30px;
        color: $header__bg-color;
      }
    }
    &__heading {
      @include headingFonts(
        $heading-top__heading-color,
        22px,
        550,
        20px,
        default
      );
    }
  }
  &--open {
    left: 0;
    transition: left 200ms linear;
  }

  .cart-item {
    padding: 16px;
    margin: 20px 0;
    position: relative;
    border-radius: 12px;
    background-color: $header__bg-color;
    border: 1px solid $header-top__border-color;
    @include flexLayout(flex, flex-start, center, 16px, row nowrap);
    @include mediaQueries($sm) {
      justify-content: space-between;
    }
    &__content {
      max-width: 230px;
      position: relative;
      @include mediaQueries($sm) {
        max-width: 200px;
      }
      @include mediaQueries(400px) {
        max-width: 175px;
      }
    }

    &__footer {
      @include flexLayout(flex, space-between, center, 0, row nowrap);
      &-soum {
        @include headingFonts($header-cart__bg-color, 16px, 600, 20px, default);
      }
      &-delete {
        height: 20px;
        cursor: pointer;
        object-fit: cover;
      }
    }
    &__box {
      &-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
        @include mediaQueries(400px) {
          width: 75px;
          height: 75px;
        }
      }
      &-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include headingFonts(
          $heading-top__heading-color,
          16px,
          600,
          20px,
          default
        );
      }

      &-desc {
        margin: 10px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        @include headingFonts(
          $heading-top__heading-color,
          13px,
          400,
          20px,
          default
        );
      }
    }
    &__counter {
      padding: 8px;
      max-width: 92px;
      border-radius: 6px;
      @include flexLayout(flex, space-between, center, 10px, row nowrap);
      background-color: $counter__bg-color;
      &-count {
        @include headingFonts($header-cart__bg-color, 16px, 600, 20px, default);
      }
      &-icon {
        width: 8px;
        height: 8px;
        cursor: pointer;
      }
    }
  }

  &__border {
    padding: 32px 20px 15px 20px;
  }
  &__header {
    position: relative;
    @include flexLayout(flex, space-between, center, 0, row nowrap);
  }
  &__background {
    width: 420px;
    overflow: auto;
    min-height: 100%;
    position: relative;
    background-color: $header__bg-color;
    @include flexLayout(flex, space-between, space-between, 0, column nowrap);
    @include mediaQueries($sm) {
      width: 100%;
    }
  }
  &__box {
    &-heading {
      @include headingFonts(
        $heading-top__heading-color,
        32px,
        600,
        40px,
        default
      );
      @include mediaQueries($sm) {
        font-size: 28px;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
  &__footer {
    padding: 22px 20px;
    border-top: 1px solid $header-top__border-color;
    @include flexLayout(flex, space-between, center, 0px, row nowrap);

    &-btn {
      @include headingFonts($header__bg-color, 16px, 400, 22px, default);
      @include Button(
        $header-cart__bg-color,
        1px solid $header-cart__bg-color,
        6px,
        12px 24px,
        opacity 150ms linear
      );
      &:hover {
        opacity: 0.8;
      }
    }
    &-heading {
      @include headingFonts($header-cart__bg-color, 20px, 600, 28px, default);
      @include mediaQueries($sm) {
        font-size: 18px;
      }
    }
  }
}
