.close-account-modal {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  z-index: 100000;
  position: fixed;
  transform: scale(0);
  backdrop-filter: blur(16px);
  transition: transform 200ms linear;
  background-color: rgba(25, 25, 25, 0.4);
  @include flexLayout(flex, center, center, 0, row nowrap);
  &--open {
    transform: scale(1);
    transition: transform 200ms linear;
  }
  &__container {
    &-close {
      top: 50px;
      right: 100px;
      cursor: pointer;
      position: absolute;
      @include mediaQueries($xl) {
        right: 25px;
      }
    }
  }
  &__background {
    padding: 60px;
    margin: 0 auto;
    overflow: auto;
    max-width: 850px;
    min-height: 445px;
    position: relative;
    border-radius: 24px;
    background-color: $header__bg-color;
    @include flexLayout(flex, center, center, 0, row nowrap);
    @include mediaQueries($sm){
      padding: 20px;
    }
  }
  &__text {
    text-align: center;
    @include headingFonts($loader__shadow-color, 26px, 550, 22px, default);
    @include mediaQueries($sm){
      font-size: 24px;
    }
  }
  &__buttons {
    margin-top: 20px;
    @include flexLayout(flex, space-between, center, 20px, row nowrap);
  }
  &-btn {
    width: 100%;
    @include headingFonts($header__bg-color, 16px, 400, 22px, default);
    @include Button(
      $header-cart__bg-color,
      none,
      6px,
      14px 0px,
      opacity 150ms linear
    );
    &:hover {
      opacity: 0.8;
    }
  }
}
