.history {
  max-width: 70%;
  margin: 40px auto 24px auto;
  &-header {
    @include flexLayout(flex, space-between, center);

    &__block {
      &-heading {
        @include headingFonts(
          $heading-top__heading-color,
          40px,
          600,
          48px,
          default
        );
      }
      &-btn {
        @include headingFonts(
          $heading-top__heading-color,
          16px,
          400,
          22px,
          default
        );
        @include Button(
          $header__bg-color,
          $header-top__border-color,
          6px,
          14px 24px,
          all 150ms linear
        );
        &--active {
          color: $header__bg-color;
          @include Button(
            $header-cart__bg-color,
            $header-cart__bg-color,
            6px,
            all 150ms linear
          );
        }
        &:nth-child(1) {
          border-radius: 6px 6px 6px 6px;
        }
        &:nth-child(2) {
          border-radius: 0 6px 6px 0;
        }
      }
    }
  }
}
