.product-modal {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  overflow: auto;
  position: fixed;
  transform: scale(0);
  backdrop-filter: blur(16px);
  transition: transform 200ms linear;
  background-color: rgba(25, 25, 25, 0.4);
  &--open {
    transform: scale(1);
    transition: transform 200ms linear;
  }
  &__container {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
    position: relative;
    @include flexLayout(flex, center, center, 0, row nowrap);
    &-times {
      top: 50px;
      right: -100px;
      cursor: pointer;
      position: absolute;
    }
  }
  &__background {
    padding: 30px;
    margin: 0 auto;
    overflow: auto;
    min-height: 445px;
    width: 1070px;
    position: relative;
    border-radius: 24px;
    background-color: $header__bg-color;
  }
  &__category {
    left: 0;
    z-index: 1;
    padding: 8px 18px;
    position: absolute;
    display: inline-block;
    border-radius: 0 10px 10px 0;
    background-color: $categories__heading-color;
    &-heading {
      @include headingFonts($header__bg-color, 14px, 400, 18px, uppercase);
    }
  }
  &__list {
    height: 100%;
    position: relative;
    @include flexLayout(flex, space-between, space-between, 60px, row nowrap);
  }
  &__boxes {
    @include flexLayout(flex, flex-end, space-between, 0, column nowrap);
  }
  &__item {
    &:nth-child(2) {
      width: 450px;
      min-height: 100%;
      @include flexLayout(flex, space-between, space-between, 0, column nowrap);
    }
    &-img {
      width: 450px;
      height: 450px;
      object-fit: cover;
    }
    .item {
      &-header {
        @include flexLayout(flex, space-between, center, 0, row nowrap);
        &__box {
          @include flexLayout(flex, flex-start, center, 12px, row nowrap);
          &-icon {
            width: 24px;
            height: 24px;
          }
          &-heading {
            @include headingFonts(
              $heading-top__heading-color,
              20px,
              600,
              28px,
              default
            );
          }
          &-warning {
            width: 24px;
            height: 24px;
          }
        }
      }
      &-categories {
        margin-top: 16px;
        @include gridLayout(grid, 4, space-between, flex-start, 20px);
        &__back {
          display: block;
          cursor: pointer;
          &-success {
            top: 8px;
            right: 8px;
            position: absolute;
            visibility: hidden;
          }
          &-meal {
            width: 40px;
            height: 40px;
          }
        }
        &__box {
          width: 95px;
          text-align: center;
          &-input {
            display: none;
            &:checked + label {
              .item-categories__active {
                border: 1px solid $header-cart__bg-color;
              }
              .item-categories__back-success {
                visibility: visible;
              }
              .item-categories__box-title {
                color: $header-cart__bg-color;
              }
              .item-categories__box-price {
                color: $header-cart__bg-color;
              }
            }
          }
          &-title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: 8px;
            @include headingFonts(
              $heading-top__heading-color,
              14px,
              400,
              18px,
              default
            );
          }
          &-price {
            margin-top: 5px;
            @include headingFonts(
              $heading-top__heading-color,
              14px,
              400,
              18px,
              default
            );
          }
        }
        &__active {
          width: 95px;
          height: 95px;
          position: relative;
          border-radius: 12px;
          background-color: $header__bg-color;
          border: 1px solid $header-top__border-color;
          @include flexLayout(flex, center, center, 0, row nowrap);
        }
      }
      &-sizes {
        margin-top: 24px;
        @include flexLayout(flex, flex-start, center, 0, row nowrap);
        &__box {
          width: 100%;
          display: block;
          &-radio {
            display: none;
            &:checked + label {
              color: $header__bg-color;
              @include Button(
                $header-cart__bg-color,
                1px solid $header-cart__bg-color,
                6px,
                14px 0,
                all 150ms linear
              );
            }
          }
          &-btn {
            width: 100%;
            display: block;
            cursor: pointer;
            text-align: center;
            @include Button(
              $header__bg-color,
              1px solid $header-top__border-color,
              6px,
              14px 0,
              all 150ms linear
            );
            @include headingFonts(
              $heading-top__heading-color,
              16px,
              400,
              22px,
              default
            );
          }
        }
      }
      &-buttons {
        margin-top: 16px;
        border-radius: 6px;
        border: 1px solid $header-top__border-color;
        @include flexLayout(flex, space-between, center, 0, row nowrap);
        &__box {
          width: 100%;
          text-align: center;
          &-input {
            display: none;
            &:checked + label {
              color: $header__bg-color;
              @include Button(
                $header-cart__bg-color,
                none,
                6px,
                14px 0,
                all 150ms linear
              );
            }
          }
          &-btn {
            width: 100%;
            display: block;
            padding: 10px 0;
            cursor: pointer;
            @include Button(
              $header__bg-color,
              none,
              6px,
              14px 0,
              all 150ms linear
            );
            @include headingFonts(
              $heading-top__heading-color,
              16px,
              400,
              22px,
              default
            );
          }
        }
      }
    }
  }
  &__vegetables {
    margin-top: 24px;
    &-heading {
      @include headingFonts(
        $heading-top__heading-color,
        16px,
        600,
        20px,
        default
      );
    }
  }
  &-bottom {
    margin-top: 40px;
    @include flexLayout(flex, space-between, center, 0, row nowrap);
    &__box {
      @include flexLayout(flex, flex-start, center, 12px, row nowrap);
      &-heading {
        @include headingFonts($header-cart__bg-color, 20px, 600, 28px, default);
      }
      &-small {
        @include headingFonts(
          $heading-cart__heading-color,
          14px,
          400,
          18px,
          default
        );
      }
      &-btn {
        @include headingFonts($header__bg-color, 16px, 400, 22px, default);
        @include Button(
          $header-cart__bg-color,
          none,
          6px,
          14px 40px,
          opacity 150ms linear
        );
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
