.settings {
  max-width: 100%;
  margin: 40px auto 24px auto;
  &-header {
    @include flexLayout(flex, space-between, center);
    &__block {
      &-heading {
        @include headingFonts(
          $heading-top__heading-color,
          40px,
          600,
          48px,
          default
        );
      }
      &-btn {
        @include headingFonts(
          $heading-top__heading-color,
          16px,
          400,
          22px,
          default
        );
        @include Button(
          $header__bg-color,
          $header-top__border-color,
          6px 0 0 6px,
          14px 24px,
          all 150ms linear
        );
        &--active {
          color: $header__bg-color;
          @include Button(
            $header-cart__bg-color,
            $header-cart__bg-color,
            6px,
            all 150ms linear
          );
        }
        &:nth-child(1) {
          border-radius: 6px 0 0 6px;
        }
        &:nth-child(2) {
          border-radius: 6px 6px 6px 6px;
        }
      }
    }
  }
  &-body {
    &__list {
      &-item {
        margin: 20px 0;
        padding: 24px 32px;
        border-radius: 12px;
        background-color: $header__bg-color;
        border: 1px solid $header-top__border-color;
        .user {
          &-header {
            @include flexLayout(flex, space-between, center, 0, row nowrap);
            &--last {
              @include flexLayout(
                flex,
                space-between,
                flex-start,
                16px,
                column nowrap
              );
            }
            &__box {
              &:nth-child(2) {
                cursor: pointer;
                @include flexLayout(flex, flex-start, center, 12px, row nowrap);
              }
              &-checkbox {
                margin: 0;
                display: grid;
                font: inherit;
                width: 1.15em;
                height: 1.15em;
                appearance: none;
                position: relative;
                color: currentColor;
                place-content: center;
                border-radius: 0.15em;
                transform: translateY(-0.075em);
                background-color: $header__bg-color;
                transition: background-color 120ms linear;
                border: 0.15em solid $header-cart__bg-color;
                &:checked {
                  background-color: $header-cart__bg-color;
                  &::before {
                    transform: scale(1);
                  }
                }
                &::before {
                  content: "";
                  width: 0.65em;
                  height: 0.65em;
                  transform: scale(0);
                  transform-origin: bottom left;
                  transition: transform all linear;
                  box-shadow: inset 1em 1em $header__bg-color;
                  clip-path: polygon(
                    14% 44%,
                    0 65%,
                    50% 100%,
                    100% 16%,
                    80% 0%,
                    43% 62%
                  );
                }
              }
              &-label {
                @include headingFonts(
                  $heading-top__heading-color,
                  16px,
                  400,
                  22px,
                  default
                );
              }
              &-heading {
                @include headingFonts(
                  $heading-top__heading-color,
                  24px,
                  600,
                  32px,
                  default
                );
              }
              &-icon {
                width: 20px;
                height: 20px;
              }
              &-edit {
                @include headingFonts(
                  $header-cart__bg-color,
                  16px,
                  400,
                  22px,
                  default
                );
              }
            }
          }
          &-body {
            margin-top: 16px;
            &__list {
              @include flexLayout(flex, flex-start, center, 32px, row nowrap);
            }
            &__item {
              &-key {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                @include headingFonts(
                  $heading-cart__heading-color,
                  14px,
                  400,
                  18px,
                  default
                );
              }
              &-input {
                padding: 13px 16px;
                width: 245px !important;
                height: 48px !important;
              }
              &-value {
                margin-top: 4px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                @include headingFonts(
                  $heading-top__heading-color,
                  16px,
                  400,
                  22px,
                  default
                );
              }
            }
          }
        }
      }
    }
  }
}
