a {
  text-decoration: none;
}

.layout {
  min-height: 100vh;
}

.buttons {
  display: flex;
  margin: 0 0 25px 0;
  justify-content: flex-end;
}

.edit-icon,
.delete-icon {
  font-size: 18px;
  cursor: pointer;
  margin: 0 0 0 5px;
}

.edit-icon {
  color: #008000;
}

.delete-icon {
  color: #ff0000;
}
