.react-date-picker__wrapper {
  outline: none;
  padding: 13px 16px;
  border-radius: 6px;
  width: 245px !important;
  height: 48px !important;
  background-color: $header__bg-color;
  border: 1px solid $header-top__border-color !important;
}
